@*@model DataAccess.Entities.Kitap*@
@model KitapModel

@{
    ViewData["Title"] = "Detay";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayımTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayımTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirimFiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirimFiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokMiktari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokMiktari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurAdiDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurAdiDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapciAdlariDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapciAdlariDisplay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
