@*@model IEnumerable<DataAccess.Entities.Kitap>*@
@*@model IEnumerable<KitapModel>*@
@model KitaplarIndexViewModel

@{
    ViewData["Title"] = "Kitaplar";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mesaj"] != null)
{
    <p class="bg-success text-white">
        @TempData["Mesaj"]
    </p>
}

@if (TempData["Success"] != null)
{
    <p class="text-success">@TempData["Success"]</p>
}
@if (TempData["Error"] != null)
{
    <p class="text-danger">@TempData["Error"]</p>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Kitap ekle</a>
    </p>
}


<form asp-action="Index" method="get"> 
    <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-1">
            <label asp-for="Filtre.KitapAdi"></label>
        </div>
        <div class="col-3">
            <input asp-for="Filtre.KitapAdi" class="form-control" />
        </div>
        <div class="col-1">
            <label asp-for="Filtre.TurId"></label>
        </div>
        <div class="col-3">
            <select asp-for="Filtre.TurId" class="form-control" asp-items="@Model.Turler">
                <option value="">--Tümü--</option>
            </select> 
        </div>
        <div class="col-1">
            <label asp-for="Filtre.BirimFiyatiBaslangic"></label>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input asp-for="Filtre.BirimFiyatiBaslangic" class="form-control" />
                <span class="input-group-text">-</span>
                <input asp-for="Filtre.BirimFiyatiBitis" class="form-control" />
            </div>
        </div>
        <div>
            <br />
        </div>
        <div class="col-1">
            <label asp-for="Filtre.StokMiktariBaslangic"></label>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input asp-for="Filtre.StokMiktariBaslangic" class="form-control" />
                <span class="input-group-text">-</span>
                <input asp-for="Filtre.StokMiktariBitis" class="form-control" />
            </div>
        </div>
        <div class="col-1">
            <label asp-for="Filtre.YayımTarihiBaslangic"></label>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input asp-for="Filtre.YayımTarihiBaslangic" class="form-control" type="date"  />
                <span class="input-group-text">-</span>
                <input asp-for="Filtre.YayımTarihiBitis" class="form-control" type="date"  />
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-12"> 
            <input type="submit" value="Ara" class="btn btn-primary" />
		    &nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-outline-primary">Temizle</a>
        </div>
    </div>
</form>


@if (Model.Kitaplar != null && Model.Kitaplar.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().TurAdiDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().Aciklamasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().YayımTarihiDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().BirimFiyatiDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().StokMiktari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitaplar.FirstOrDefault().KitapciAdlariDisplay)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kitaplar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurAdiDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklamasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayımTarihiDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirimFiyatiDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StokMiktari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapciAdlariDisplay)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a>@:&nbsp; &nbsp;
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a><text>&nbsp; &nbsp;</text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <p class="text-danger">Kitap bulunamadı</p>
}